/*css reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*main style*/
body {
  font-family: 'Trebuchet MS', sans-serif;
}

/* utility */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  border: none;
  border-radius: 8px;
  background-color: green;
  padding: 23px 25px;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: rgb(0, 68, 0);
  }
}

/*form style*/
.form-container {
  margin-top: 50px;
}

form {
  display: flex;
  position: relative;
  border: 2px solid red;
  border-radius: 8px;
  padding: 10px;
}

form div:first-child {
  margin-right: 20px;
}

.form-title {
  display: block;
  width: 200px;
  padding: 12px;
  font-size: 0.9rem;
  border: 1px solid #000;
  border-radius: 8px;
  margin-bottom: 20px;
}

.form-textarea {
  border: 1px solid #000;
  border-radius: 8px;
  width: 600px;
  height: 400px;
  padding: 12px;
}

.form-category-select {
  padding: 12px;
  border: 1px solid #000;
  border-radius: 8px;
}

.select-title {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.form-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* articles style */
.articles-section {
  margin-top: 100px;

  h1 {
    margin-bottom: 20px;
  }
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  border-radius: 8px;
  margin-bottom: 20px;

}

.article-text {
  padding-left: 15px;
  width: 95%;
}

.article-trash {
  text-align: center;
  border-radius: 0px 8px 8px 0px;
  width: 5%;
  padding: 20px;
  background-color: red;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: rgb(187, 0, 0);
  }
}